.navbar {
    background-color: #321f5d;
    padding: 10px 0;
    position: relative;
}

.logo {
   
    img {
        width: 250px;
        height: auto;
    }
}

// Hamburger menu styles
.menu-toggle {
    width: 30px;
    height: 22px;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 9999; 

    &:before, &:after, & > div {
        content: "";
        background-color: #fff;
        height: 3px;
        width: 100%;
        position: absolute;
        left: 0;
        transition: all 0.3s;
    }

    &:before { top: 0; }
    & > div {
        top: 50%;
        transform: translateY(-50%);
    }
    &:after { bottom: 0; }

    &.open {
        &:before {
            transform: rotate(45deg);
            top: 50%;
        }

        & > div { opacity: 0; }

        &:after {
            transform: rotate(-45deg);
            bottom: 50%;
        }
    }

    @media (min-width: 768px) {
        display: none;
    }
}
.menu-groups {
    display: none; // Hidden by default for mobile
    position: absolute;
    top: 50%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    margin-top: 45px;

    &.open { 
        display: flex;
        flex-direction: column;
    }

    @media (min-width: 768px) {
        position: static;
        display: flex; // Display menu-groups on desktop
        flex-direction: row;
        gap: 20px;
        background-color: transparent;
    }
}

.menu-group {
    list-style: none;
    display: flex; // Make the li items within menu-group to line up in a row

    li {
        margin: 10px 0;
        @media (min-width: 768px) {
            margin: 0 10px;
        }
    }

    a {
        text-decoration: none;
        color: #b4bccd;
        padding: 5px 10px;

        &:hover {
            color: #7796da;
            transition: all ease-out 0.2s;
        }
    }
    @media (max-width: 767px) {
        display: block; // Stack vertically in mobile view
    }
}

.center {
    order: 2;

    @media (min-width: 768px) {
        order: 1;
    }
}

.right {
    order: 1;

    @media (min-width: 768px) {
        order: 2;
    }
}
